#content{
  margin: 20px auto;
  width: 700px;
}
#highscores{
  margin-top: 20px;
}
#highscores h2{
  font-size: 1.7rem;
  margin-top: 0;
}
#local, #online{
  display: inline-block;
  vertical-align: top;
  width: 336px;
  margin-right: 4px;
}
#local{
  border-right: 2px dashed #000;
  padding-right: 6px;
}
#online{
  text-align: right;
}
#offline-resources{
  display: none;
}
@media screen and (max-width: 700px){
  #content{
    width: 100%;
  }
  #local, #online{
    display: block;
    width: 100%;
    text-align: left;
    border: none;
  }
}